<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF=8' http-equiv='Content-Type' />
    <link href="https://fonts.googleapis.com/css?family=Audiowide&display=swap" rel="stylesheet">
  </head>
  <body style="height:100vh;background:#1E1E1E;color:white;font-family:'Audiowide',cursive;padding:50px;">
    <h1><%= @name %> is trying to contact you!</h1>
    <h3>Subject: <%= @subject %></h3>
    <p>
      Their email is: <%= @email %>.<br>
    </p>
    <br />
    <br />
    <br />
    <span><%= @message %></span>
  </body>
</html>