
#shirtpic{ 
  height: 350px;
  width: 100vw;
  box-shadow: 15px 25px 10px grey;

}

#restimages{
  height: 350px;
  width: 100vw;
  box-shadow: 15px 25px 10px grey;
}

#shirty{
  position: absolute;
  bottom: 20px;
  right: 20px;
  font-family: Apple Chancery, cursive ;
  color:white; 
}

body .ui.cards>.card{
  box-shadow: none; 
}

#shadow{
  position: absolute;
  width: 95%;
  height: 95%;
  box-shadow: inset 0 -140px 60px -50px  #000000;
  bottom: 0;  
}

#shadow1{
  position: absolute;
  width: 97.5%;
  height: 98%;
  box-shadow: inset 0 -140px 60px -50px  #000000;
  bottom: 0;  
}















