
#shirtpic{ 
  height: 500px;
  width: 100vw;
}

#restimages{
  height: 500px;
  width: 700px;
}

#hoodiepic {
  height: 500px;
  width: 700px;
}

#stickerspic{
  height: 500px;
  width: 700px;
} 

#shirty{
  position: absolute;
  bottom: 20px;
  right: 20px;
  color:gray;
}



