
#shirtpic{ 
  height: 500px;
  width: 1100px;
}

#hatpic{
  height: 500px;
  width: 700px;
}

#hoodiepic {
  height: 500px;
  width: 700px;
}

#stickerspic{
  height: 500px;
  width: 700px;
} 

#shirty{
  position: absolute;
  bottom: 20px;
  right: 20px;
  color: orchid;
}



